[submodule "hoshino/modules/hoshino_training"]
	path = hoshino/modules/hoshino_training
	url = https://github.com/maxesisn/hoshino_training.git
[submodule "hoshino/modules/clanbattle_info"]
	path = hoshino/modules/clanbattle_info
	url = https://github.com/zyujs/clanbattle_info.git
[submodule "hoshino/modules/clanrank"]
	path = hoshino/modules/clanrank
	url = https://github.com/pcrbot/clanrank.git
[submodule "hoshino/modules/Genshin_Impact_bot"]
	path = hoshino/modules/Genshin_Impact_bot
	url = https://github.com/H-K-Y/Genshin_Impact_bot.git
[submodule "hoshino/modules/hiumsentences"]
	path = hoshino/modules/hiumsentences
	url = https://github.com/pcrbot/hiumsentences.git
[submodule "hoshino/modules/GWYOG-Hoshino-plugins"]
	path = hoshino/modules/GWYOG-Hoshino-plugins
	url = https://github.com/GWYOG/GWYOG-Hoshino-plugins.git
[submodule "hoshino/modules/russian"]
	path = hoshino/modules/russian
	url = https://github.com/pcrbot/russian.git
[submodule "hoshino/modules/songpicker"]
	path = hoshino/modules/songpicker
	url = https://github.com/maxesisn/songpicker.git
[submodule "hoshino/modules/yobot/yobot"]
	path = hoshino/modules/yobot/yobot
	url = https://github.com/pcrbot/yobot.git
[submodule "hoshino/modules/priconne/gacha"]
	path = hoshino/modules/priconne/gacha
	url = https://github.com/pcrbot/gacha.git
[submodule "hoshino/modules/nonedice"]
	path = hoshino/modules/nonedice
	url = https://github.com/maxesisn/nonedice.git
[submodule "hoshino/modules/revgif"]
	path = hoshino/modules/revgif
	url = https://github.com/maxesisn/revgif.git
[submodule "hoshino/modules/shebot"]
	path = hoshino/modules/shebot
	url = https://github.com/pcrbot/plugins-for-Hoshino.git
