[submodule "hoshino/modules/hiumsentences"]
	path = hoshino/modules/hiumsentences
	url = https://github.com/pcrbot/hiumsentences.git
[submodule "hoshino/modules/clanrank"]
	path = hoshino/modules/clanrank
	url = https://github.com/pcrbot/clanrank.git
[submodule "hoshino/modules/russian"]
	path = hoshino/modules/russian
	url = https://github.com/maxesisn/russian.git
[submodule "hoshino/modules/schedule/schedule"]
	path = hoshino/modules/schedule/schedule
	url = https://github.com/pcrbot/schedule.git
[submodule "hoshino/modules/songpicker"]
	path = hoshino/modules/songpicker
	url = https://github.com/maxesisn/songpicker.git
[submodule "hoshino/modules/priconne/gacha"]
	path = hoshino/modules/priconne/gacha
	url = https://github.com/pcrbot/gacha.git
[submodule "hoshino/modules/pcrdescguess"]
	path = hoshino/modules/pcrdescguess
	url = https://github.com/maxesisn/pcrdescguess.git
[submodule "hoshino/modules/pcrsealkiller"]
	path = hoshino/modules/pcrsealkiller
	url = https://github.com/maxesisn/pcrsealkiller.git
[submodule "hoshino/modules/voiceguess"]
	path = hoshino/modules/voiceguess
	url = https://github.com/maxesisn/HoshinoBotVoiceGuessPlugin.git
[submodule "hoshino/modules/genshin/gacha"]
	path = hoshino/modules/genshin/gacha
	url = https://github.com/H-K-Y/Genshin_Impact_gacha.git
[submodule "hoshino/modules/clanbattle_info"]
	path = hoshino/modules/clanbattle_info
	url = https://github.com/zyujs/clanbattle_info.git
