nonebot[scheduler]
Pypi
wheel
demjson
websocket
psutil
pymysql
logzero
peewee
wheel
lxml
pytz
pygtrie
tinydb
aiohttp
orjson
python-Levenshtein
msgpack
jieba-fast
ujson
aiocqhttp
requests
sogou_tr_free
zhconv
Pillow
TwitterAPI
matplotlib
numpy
beautifulsoup4
brotli
APScheduler
opencc-python-reimplemented
feedparser
arrow
expiringdict
quart
jinja2
opencv-python
selenium
